PORT=3333
DB_URL=mongodb+srv://usuario:password@cluster.mongodb.net/
DB_NAME=musimo
JWT_SECRET=clave_secreta_para_jwt
LASTFM_API_KEY=tu_api_key_de_lastfm
FRONTEND_URL=http://localhost:5173
ADMIN_EMAIL=admin@musimo.com
SEED_OWNER_EMAIL=admin@musimo.com
SEED_OWNER_NAME=Usuario demo
